    * {
        margin: 0;
        padding: 0;
        font-family: 'B612'
    }
    
    ul {
        list-style: none;
        background-color: #fff7eb
    }

    
    .resume {
        display: flex;
        flex-flow: column;
        width: 95%;
        max-width: 150000000px;
        margin: auto;
        margin-top: 10px;
        /* margin-bottom: 100px; */
    }
    
    .me {
        display: flex;
        flex-flow: row;
        align-items: center;

    }

    .img {
        max-height: 80px;
        border-radius: 50%;
        vertical-align: bottom;
        margin-right: 10px;
    }
    .resume-wrapper {
        display: flex;
        flex-flow: row-reverse;
        justify-content: space-between;
        vertical-align: middle;
        width: 85%;
        margin: auto;
        /* flex-wrap: wrap; */
    }
    
    .resume-header {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        /* align-self: center; */
        float: left;
        width: 85%;
        margin: auto;
        align-items: center;
        /* vertical-align: middle; */
        /* margin-top: 20px; */
        /* margin-bottom: 10px; */
        /* align-items: flex-start; */
    }
    
    .icon {
        margin-right: 10px;
    }
    .resume-header .name {
        font-family: 'B612';
        text-transform: uppercase;
        font-weight: lighter;
        font-size: 4em;
        line-height: 1;
        /* margin: 0 0 5px 0; */
        align-self: flex-end;
    }
    
    .qualification {
        font-family: 'B612';
        text-transform: uppercase;
        font-weight: lighter;
        font-size: 12px;
        min-width: 70px;
    }
    
    .resume-header .contact {
        display: flex-inline;
        margin: 0 0 0 0px;
        font-family: 'B612';
        text-transform: uppercase;
        font-size: 17px;
    }
    
    .resume-body {
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
        /* max-width: 750px; */
        order: 1;
        flex-grow: 1;
    }
    
    .resume-aside {
        /* order: 2; */
        /* flex-grow: 1; */
        /* margin-right: 25px; */
    }
    
    .section-header {
        font-family: 'B612';
        text-transform: uppercase;
        color: grey;
        margin-top: 3px;
        font-size: 1.55em;
        letter-spacing: .3em;
        background-color: RGB(255, 236, 189)
    }
    
    .block-header {
        display: flex;
        flex-flow: row;
        font-family: 'B612';
        font-size: 1em;
        justify-content: space-between;
    }
    
    .position {
        font-family: 'B612';
        font-size: 1.05em;
        font-weight: lighter;
        line-height: 1;
    }
    
    .date {
        font-family: 'B612';
        /* font-size: .95em; */
        /* font-style: italic; */
        /* font-weight: lighter; */
    }
    
    .job-description {
        list-style-type: disc;
        list-style-position: outside;
        padding: 0 0 0 25px;
    }
    
    .block {
        margin-top: 10px;
        line-height: 1.5;
    }
    
    .block:hover {
        background-color: lightgray;
    }
    
    .item {
        /* margin-top: 7px; */
        margin-bottom: 7px;
    }
    
    .skills ul {
        margin-top: 20px;
        line-height: 2;
        /* padding-left: 12px; */
        /* list-style-type: disc;
    list-style-position: inside;
    padding-left: 12px; */
    }
    
    .block-body {
        color: rgb(30, 30, 30);
    }
    
    .project-skills {
        margin-bottom: 5px;
        font-style: italic;
    }
    
    .skills-label {
        font-weight: bold;
    }