    * {
        margin: 0;
        padding: 0;
        font-family: 'B612'
    }
    
    ul {
        list-style: none;
    }
    
    .resume {
        display: flex;
        flex-flow: column;
        width: 70%;
        max-width: 1200px;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    
    .resume-wrapper {
        display: flex;
        flex-flow: row-reverse;
        justify-content: space-between;
        width: 85%;
        margin: auto;
        /* flex-wrap: wrap; */
    }
    
    .resume-header {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        width: 85%;
        margin: auto;
        /* margin-top: 20px; */
        margin-bottom: 20px;
        align-items: flex-start;
    }
    
    .resume-header .name {
        font-family: 'B612';
        text-transform: uppercase;
        font-weight: lighter;
        font-size: 5em;
        line-height: 1;
        margin: 0 0 10px 0;
    }
    
    .qualification {
        font-family: 'B612';
        text-transform: uppercase;
        font-weight: lighter;
        font-size: 17px;
    }
    
    .resume-header .contact {
        margin: 0 0 0 30px;
        font-family: 'B612';
        text-transform: uppercase;
        font-size: 17px;
    }
    
    .resume-body {
        display: flex;
        flex-flow: column;
        /* flex-wrap: wrap; */
        /* max-width: 750px; */
        /* order: 1; */
        /* flex-grow: 1; */
    }
    
    .resume-aside {
        /* order: 2; */
        /* flex-grow: 1; */
        margin-right: 25px;
    }
    
    .section-header {
        font-family: 'B612';
        text-transform: uppercase;
        color: grey;
        margin-top: 25px;
        font-size: 1.75em;
        letter-spacing: .25em;
    }
    
    .block-header {
        font-family: 'B612';
        font-size: 1em;
    }
    
    .position {
        font-family: 'B612';
        font-size: 1.05em;
        font-weight: lighter;
        line-height: 1;
    }
    
    .date {
        font-family: 'B612';
        font-size: .95em;
        font-style: italic;
        font-weight: lighter;
        line-height: 1;
    }
    
    .job-description {
        list-style-type: disc;
        list-style-position: outside;
        padding: 0 0 0 25px;
    }
    
    .block {
        margin-top: 20px;
        line-height: 1.5;
    }
    
    .block:hover {
        background-color: lightgray;
    }
    
    .item {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .skills ul {
        margin-top: 20px;
        line-height: 2;
        /* padding-left: 12px; */
        /* list-style-type: disc;
    list-style-position: inside;
    padding-left: 12px; */
    }
    
    .block-body {
        color: rgb(30, 30, 30);
    }
    
    .project-skills {
        margin-bottom: 10px;
        font-style: italic;
    }
    
    .skills-label {
        font-weight: bold;
    }